/example/build/
/example/ios/Pods/
/build/
.pubignore
.dart_tool/
/example/.dart_tool/
./example/ios/Pods/
.dart_tool/extension_discovery/README.md
.dart_tool/extension_discovery/vs_code.json
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version